
*{
    /* border: 1px black solid; */
    margin: 0;
    padding: 0;
    font-family: "Press Start 2P", system-ui;
    font-weight: 200;
    font-style: normal;
}
:root {
    --primary: #0075be;
    --primaryDark: #034f7e;
    --secondary: #ffcc00;
    --main:#ffffff;
  }
body{
    background-color: var(--primary);
    height: 100vh;
}
#header{
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title{
    color:var(--secondary);
   text-align: center;
   font-size: 1.5rem;
}
#main{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main);
}
#pokemon-card{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    
    min-height: 80%;
    max-height: 300px;
    min-width: 300px ;
    width: 25%;
    background-color: var(--primary);
    /* padding: 15px; */

    display: grid ;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}
#pokemon-name-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#pokemon-name{
    text-align: center;
    color:var(--secondary);
    
}
#image-container{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primaryDark);
}
#pokemon-image{
    width: 65%;
    background-color: var(--main);
}
#randomize{
 background-color: var(--secondary);
 color: var(--primary);

 border:none;
 
 -webkit-border-radius: 0px 0px 20px 20px;
 -moz-border-radius: 0px 0px 20px 20px;
 border-radius: 0px 0px 20px 20px;
 
}
#footer{
  
    min-height: 13vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
#contactContainer,a{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    color: var(--main);
    text-decoration: none;
    gap: 10px;
    display:flex;
    align-items: center;
    user-select: none;
}
